{% load static %}

<nav class="navbar">
    <div class="container-fluid">
        <div class=""></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="text-transform: capitalize;">
                    Olá, {{ request.user.first_name }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{% url 'inicio' request.user.username %}">Início</a>
                    </li>
                    <!-- Cadastros -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Cadastros
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{% url 'cadastrar_paciente' request.user.username %}">
                                    Cadastrar Paciente</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'paciente_inforacoes_complementares' request.user.username %}">
                                    Informações Complementares</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'cadastrar_responsavel' request.user.username %}">
                                    Cadastrar Responsáveis</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link active" aria-current="page" href="/admin">Administração</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pacientes' request.user.username %}">
                            Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'responsaveis' request.user.username %}">
                            Responsáveis</a>
                    </li>
                    <li class="nav-item">
                        <a 
                            class="nav-link active" aria-current="page" 
                            href="{% url 'form_evolucao_diaria' request.user.username %}">
                            Reuniões Externas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'devolutiva' request.user.username %}">
                            Devolutiva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'view_encaminhamento' request.user.username %}">
                            Encaminhamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'form_evolucao_diaria' request.user.username %}">
                            Evolução Diária</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'form_supervisao_multidisciplinar' request.user.username %}">
                            Supervisão Multidisciplinar</a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link active" aria-current="page"
                            href="https://docs.google.com/document/d/15W_2M-VBCME28YCFy7yTv_4MmHRtEWUjNVFgfNnqIZA/edit?usp=sharing">Criar
                            Documento</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Registros
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{% url 'registro_fonoaudiologia' request.user.username %}">Fonoaudiologia</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'registro_psicologia' request.user.username %}">Psicologia</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'registro_psicomotricidade' request.user.username %}">Psicomotricidade</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'registro_psicopedagogia' request.user.username %}">Psicopedagogia</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'devolutivas' request.user.username %}">Devolutivas</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'list_encaminhamento' request.user.username %}">Encaminhamentos</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'list_evolucao_diaria' request.user.username %}">Evoluções Diárias</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'list_evolucao_diaria' request.user.username %}">Reuniões Externas</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'list_supervisao_multidisciplinar' request.user.username %}">Supervisao Multidisciplinar</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Anamneses
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{% url 'anamnese_psicopedagogia' request.user.username %}">Psicopedagogia</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'anamnese_psicologia' request.user.username %}">Psicologica</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'anamnese_fonoaudiologia' request.user.username %}">Fonoaudiologia</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'anamnese_psicomotricidade' request.user.username %}">Psicomotricidade/ Terapia Ocupacional</a></li>
                        </ul>
                    </li>
                    
                    {%if 'carol' ==  request.user.username or 'genilva' == request.user.username or 'francisco_admin' == request.user.username %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'enviar_mensagem' request.user.username %}">Comunicados</a>
                    </li>
                    {% endif %}
                    {% if 'genilva' == request.user.username or 'marcos_cesar' == request.user.username or 'francisco_admin' == request.user.username %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Financeiro
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'financeiro' request.user.username %}">Gestão</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</nav>