{% load static %}

<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' request.user.username %}">
            <img src="../../static/img/eaee_png.png" alt="" style="width: 100px !important;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="text-transform: capitalize;">
                    Olá, {{ request.user.username }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{% url 'inicio' request.user.username %}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{% url 'inicio' request.user.username %}">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar_paciente' request.user.username %}">Cadastrar
                            Paciente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar_responsavel' request.user.username %}">Cadastrar
                            Responsável</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar_responsavel' request.user.username %}">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'cadastrar_responsavel' request.user.username %}">Responsáveis</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Procedimentos Avaliativos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{% url 'anamnese_psicopedagogia' request.user.username %}">Anamnese
                                    Psicopedagogia</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'anamnese_psicologia' request.user.username %}">Anamnese
                                    Psicologica</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'anamnese_fonoaudiologia' request.user.username %}">Anamnese
                                    Fonoaudiologia</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'anamnese_psicomotricidade' request.user.username %}">Anamnese
                                    Psicomotricidade</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'encaminhamento' request.user.username %}">Encaminhamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'supervisao_multiprofissional' request.user.username %}">Supervisão
                            Multiprofissional</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reunioes_externas' request.user.username %}">Reuniões
                            Externas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'devolutiva' request.user.username %}">Devolutiva</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'evolucao_diaria' request.user.username %}">Evolução Diária</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastro_usuario' request.user.username %}">Cadastrar Usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar_usuario_permissoes' request.user.username %}">Permissões</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'enviar_mensagem' request.user.username %}">Comunicados</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>