{% extends 'base_user.html' %}
{% load static %}

{% block title %}Anamnese Fonoaudiologia{% endblock title %}

{% block main %}

<section class="container flex-column my-5">
    
    <form action="" method="POST" class="container bg-light rounded shadow-lg" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row py-4">

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <select name="paciente" class="form-select" id="floatingSelect"
                        aria-label="Floating label select example">
                        {% for paciente in pacientes %}
                        <option value="{{ paciente.id }}">{{ paciente.paciente_nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Nome de paciente</label>
                </div>
            </div>

            <h3 class="mb-3">Desenvolvimento Motor</h3>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Como era quando bebê? Calmo ou agitado?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Como era quando bebê? Calmo ou agitado?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Em que idade firmou a cabeça?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Em que idade firmou a cabeça?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Sentou sem apoio?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Sentou sem apoio?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Engatinhou?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Engatinhou?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Ficou de pé?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Ficou de pé?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Quando começou a andar" class="form-control"
                        placeholder="Andou?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Andou?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Fez uso do “anda já”? Se sim, por quanto tempo?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Fez uso do “anda já”? Se sim, por quanto tempo?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Preferência por qual das mãos?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Preferência por qual das mãos?</label>
                </div>
            </div>

            <h3 class="mb-3">Atividades Psicomotoras</h3>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Como realiza as seguintes atividades (pintura, desenho, recorte, colagem, encaixes, quebra-cabeça)?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Como realiza as seguintes atividades (pintura, desenho, recorte, colagem, encaixes, quebra-cabeça)?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Sabe andar de bicicleta?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Sabe andar de bicicleta?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Com que idade aprendeu?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Com que idade aprendeu?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Como se sai nas seguintes brincadeiras/ atividades:" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Como se sai nas seguintes brincadeiras/ atividades:</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Sabe abotoar e desabotoar roupas?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Sabe abotoar e desabotoar roupas?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Troca de roupa sozinho?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Troca de roupa sozinho?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Sabe amarrar o cadarço?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Sabe amarrar o cadarço?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Consegue pega objetos bem pequenos?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Consegue pega objetos bem pequenos?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Consegue pega objetos bem pequenos?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Consegue pega objetos bem pequenos?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Que tipo de brinquedos gosta?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Que tipo de brinquedos gosta?</label>
                </div>
            </div>
            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Brincadeiras que pratica sozinho?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Brincadeiras que pratica sozinho?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Outras preferências:" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Outras preferências:</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Do que a criança não gosta?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Do que a criança não gosta?</label>
                </div>
            </div>

            <h3 class="mb-3">Funcionamento Psicossocial</h3>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Quando começou a frequentar a escola?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Quando começou a frequentar a escola?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Gosta de ir à escola?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Gosta de ir à escola?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Gosta dos professores?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Gosta dos professores?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Como se relaciona com os colegas da escola?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Como se relaciona com os colegas da escola?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Dificuldades observadas no ambiente escolar:" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Dificuldades observadas no ambiente escolar:</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="O que fazem juntos no tempo livre?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">O que fazem juntos no tempo livre?</label>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-floating">
                    <textarea name="Pratica esportes?" class="form-control"
                        placeholder="Com que idade começou a frequentar a escola?" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Pratica esportes?</label>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center align-items-center mb-3">
            <button type="submit" class="btn btn-primary mb-3">Concluir</button>
        </div>
    </form>
</section>
{% endblock main %}