{% extends 'base_user.html' %}
{% load static %}

{% block title %}Financeiro{% endblock title %}

{% block main %}
<section>
    <row class="d-flex gap-5 justify-content-center align-items-center mb-5">
        <div class="col-2 col-sm-3">
            <div class="card border-danger shadow">
                <div class="card-body card-exit">
                    <h3 class="card-title text-light">R$ {{ valor_saida }}</h3>
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-3">
            <div class="card border-success shadow">
                <div class="card-body card-enter">
                    <h3 class="card-title text-light">R$ {{ valor_entrada }}</h3>
                </div>
            </div>
        </div>
    </row>

    <form action="" method="POST" class="container py-3 px-2 bg-light border rounded shadow-lg">
        {% csrf_token %}

        <div class="row d-flex justify-content-center align-items-center py-4">
            <div class="col-sm-4">
                <div class="form-floating mb-3">
                    <input name="data" type="date" class="form-control" id="floatingInput"
                        placeholder="Data de nascimento">
                    <label for="floatingInput">Data</label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-floating mb-3">
                    
                    <select name="tipo" class="form-select" id="floatingSelect"
                        aria-label="Floating label select example">
                        {% for tipo in tipo_financeiro %}
                        <option value="{{tipo.id}}">{{ tipo.registro_financeiro_tipo }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Tipo do Registro</label>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-floating mb-3">
                    <input name="valor" type="text" class="form-control" id="floatingInput" placeholder="Nome completo">
                    <label for="floatingInput">Valor</label>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-floating mb-3">
                    <input name="destino" type="text" class="form-control" id="floatingInput" placeholder="Nome completo">
                    <label for="floatingInput">Destino</label>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <button type="submit" class="btn btn-primary mb-3">Registrar</button>
            </div>
    </form>

    <form action="{% url 'financeiro_busca' request.user.username %}" method="GET" class="container py-3 px-2">
        {% csrf_token %}

        <div class="row d-flex justify-content-center align-items-center py-4">
            <div class="col-sm-2">
                <div class="form-floating mb-3">
                    <select name="mes" class="form-select" id="floatingSelect"
                        aria-label="Floating label select example">
                        
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        
                    </select>
                    <label for="floatingSelect">Mês</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating mb-3">
                    <input name="ano" type="number" class="form-control" id="floatingInput" placeholder="Nome completo">
                    <label for="floatingInput">Ano</label>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <button type="submit" class="btn btn-primary mb-3">Pesquisar</button>
            </div>
    </form>

</section>

<section class="d-flex justify-content-center align-items-center mx-5 mt-5">
    <table class="table border rounded shadow" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Destino</th>
                <th scope="col">Valor</th>
                <th scope="col">Tipo</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros_financeiros%}
            {% if registro.registro_financeiro_tipo.registro_financeiro_tipo == 'Entrada' %}
            <tr class="table-success">
                <th scope="row">{{ registro.id }}</th>
                <th scope="row">{{ registro.registro_financeiro_destino }}</th>
                <th scope="row">{{ registro.registro_financeiro_valor }}</th>

                <th scope="row">{{ registro.registro_financeiro_tipo.registro_financeiro_tipo }}</th>

                <th scope="row">{{ registro.registro_financeiro_dt }}</th>
            </tr>
            {% else %}
            <tr class="table-danger">
                <th scope="row">{{ registro.id }}</th>
                <th scope="row">{{ registro.registro_financeiro_destino }}</th>
                <th scope="row">{{ registro.registro_financeiro_valor }}</th>

                <th scope="row">{{ registro.registro_financeiro_tipo.registro_financeiro_tipo }}</th>

                <th scope="row">{{ registro.registro_financeiro_dt }}</th>
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>

</section>
{% endblock %}