{% extends 'base_user.html' %}
{% load static %}

{% block title %}pacientes{% endblock title %}

{% block main %}
<section class="container flex-column my-5">
    <div class="row d-flex justify-content-center align-items-center w-50"
        style="height: 275px !important; width: 100% !important;">
        <form class="w-100" action="{% url 'patient_search_view' %}" method="GET">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input name="q" class="form-control shadow" placeholder="Leave a comment here"
                    id="floatingTextarea"></input>
                <label for="floatingTextarea">Buscar paciente</label>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <button class="btn btn-primary shadow" type="submit">Buscar</button>
            </div>
        </form>
    </div>
    {% for paciente in page_obj %}
    <div
        class="container position-relative d-flex justify-content-center align-items-start mb-3 py-3 px-2 bg-light rounded shadow">
        <div class="d-flex justify-content-center align-items-center">
            <img src="{{ paciente.foto_paciente.url }}" alt="" class="rounded-circle" id="patient_img">
        </div>

        <div class="container flex-column align-items-center mx-3">
            <h5 class="fs-5 border-bottom">{{ paciente.paciente_nome }}</h5>
            <p>Responsavel: {{ paciente.paciente_responsavel_nome }}</p>
            <p>Email: {{ paciente.paciente_responsavel_email }}</p>
            <p>Contato: {{ paciente.paciente_responsavel_contato }}</p>
            <span>CPF: {{ paciente.paciente_responsavel_cpf }}</p>
                <span>Data de Nascimento: {{ paciente.paciente_dt_nasc }}</p>
                    Exame: <a href="{{ paciente.paciente_exams.url }}">{{ paciente.paciente_exams }}</a>
        </div>
        <a class="btn btn-primary rounded-circle position-absolute top-50 start-100 translate-middle" href="#"
            role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </a>
    </div>
    {% endfor %}

    <div class="d-flex justify-content-center">
        {% include 'partials/_pagination.html' %}
    </div>

</section>
{% endblock main %}