{% extends 'base_user.html' %}
{% load static %}

{% block title %}{{context_user.username}}{% endblock title %}

{% block main %}

<section class="container flex-column my-5">

    <div class="d-flex flex-column justify-content-center align-items-center bg-light py-3 px-2 rounded shadow-lg">
        {% for paciente in page_obj %}

        <div class="accordion" id="accordionExample" style="width: 60% !important;">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        {{ paciente.paciente.paciente_nome }} {{ paciente.dt_registro }}
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>{{ paciente.especialista.username }}</p><br>
                        <p>{{ paciente.idade_que_comecou_a_frequentar_escola }}</p><br>
                        <p>{{ paciente.como_foi_adaptacao }}</p><br>
                        <p>{{ paciente.reprovou }}</p><br>
                        <p>{{ paciente.ralacao_professores_colegas }}</p><br>
                        <p>{{ paciente.motivado_escola }}</p><br>
                        <p>{{ paciente.falta_assiduo }}</p><br>
                        <p>{{ paciente.realiza_atividades_com_satisfacao }}</p><br>
                        <p>{{ paciente.precisa_ajuda }}</p><br>
                        <p>{{ paciente.predilecao_matematica_portugues }}</p><br>
                        <p>{{ paciente.dificuldades_aprendizagem }}</p><br>
                        <p>{{ paciente.antecedentes_com_dificuldade }}</p><br>
                        <p>{{ paciente.queixas_comuns_escola }}</p><br>
                        <p>{{ paciente.fala_compreensivel }}</p><br>
                        <p>{{ paciente.corporalmente_desenvolto }}</p><br>
                        <p>{{ paciente.anda_bicicleta }}</p><br>
                        <p>{{ paciente.organizado }}</p><br>
                        <p>{{ paciente.ajuda_em_casa }}</p><br>
                        <p>{{ paciente.censurado }}</p><br>
                        <p>{{ paciente.brinquedos_favorito }}</p><br>
                        <p>{{ paciente.gosta_desenhar }}</p><br>
                        <p>{{ paciente.uso_de_eletronicos }}</p><br>
                        <p>{{ paciente.horas_livres }}</p><br>
                        <p>{{ paciente.potencialidades_marcantes }}</p><br>
                        <p>{{ paciente.fragilidades_evidentes }}</p><br>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    <!-- {% for paciente in page_obj %}
    
    {% endfor %} -->

    <div class="d-flex justify-content-center">
        {% include 'partials/_pagination.html' %}
    </div>

</section>
<script>
    function openPopup() {
        // Exibe o contêiner do popup
        document.getElementById('popup-container').style.display = 'block';
    }

    function closePopup() {
        // Oculta o contêiner do popup
        document.getElementById('popup-container').style.display = 'none';
    }
</script>
{% endblock main %}