{% extends 'base_user.html' %}
{% load static %}

{% block title %}{{context_user.username}}{% endblock title %}

{% block main %}
<section class="container flex-column my-5">
    <div
        class="container position-relative d-flex justify-content-center align-items-start mb-3 py-3 px-2 bg-light rounded shadow">
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://avatars.githubusercontent.com/u/101880041?v=4" alt="" class="rounded-circle"
                id="patient_img">
        </div>

        <div class="container flex-column align-items-center mx-3">
            <h5 class="fs-5">Nome do Paciente</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus cum rem quis sed optio quam aut
                voluptatem ratione esse, minima voluptatum nostrum qui excepturi doloremque architecto possimus debitis
                numquam est!
            </p>
        </div>
    </div>
</section>
{% endblock main %}