{% extends 'base_user.html' %}
{% load static %}

{% block title %}{{context_user.username}}{% endblock title %}

{% block main %}
<div class="container my-5 p-3">
    <h3 class="text-center">
        Ultimas Atualizações
    </h3>
</div>

<section class="d-flex justify-content-center align-items-start">
    <div class="row flex-row justify-content-center align-items-center gap-2 container mb-5">
        <div class="col-sm-12 col-lg-5 bg-light rounded shadow-lg px-2 py-4">
            <div class="container p-2 mx-2">
                <h4 class="border-bottom mb-2"><a href="">Nome do paciente</a></h4>
                <div class="">
                    <p>Email: example@exameple.com</p>
                    <p>Contato: example@exameple.com</p>
                    <p>Ultima Consulta: 08/12/2023</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5 bg-light rounded shadow-lg px-2 py-4">
            <div class="container p-2 mx-2">
                <h4 class="border-bottom mb-2">Nome do paciente</h4>
                <div class="">
                    <p>Email: example@exameple.com</p>
                    <p>Contato: example@exameple.com</p>
                    <p>Ultima Consulta: 08/12/2023</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5 bg-light rounded shadow-lg px-2 py-4">
            <div class="container p-2 mx-2">
                <h4 class="border-bottom mb-2">Nome do paciente</h4>
                <div class="">
                    <p>Email: example@exameple.com</p>
                    <p>Contato: example@exameple.com</p>
                    <p>Ultima Consulta: 08/12/2023</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5 d-flex max-height-250 bg-light rounded shadow-lg px-2 py-4">

            <div class="container p-2 mx-2">
                <h4 class="border-bottom mb-2">Nome do paciente</h4>
                <div class="">
                    <p>Email: example@exameple.com</p>
                    <p>Contato: example@exameple.com</p>
                    <p>Ultima Consulta: 08/12/2023</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}