@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
}

body {
    background-image: url('../img/body_background.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

:root {
    --bg-primary: #2A9D8F !important;
    --bg-secondary: #E9C46A !important;
    --bg-orange: #F4A261 !important;
    --bg-dark-orange: #E76F51 !important;
    --bg-dark-green: #264653 !important;
    --dark: #5A5E4F !important;
}

/* Colors */

.bg-color-primary {
    background: var(--bg-primary) !important;
}

.btn-primary {
    background: var(--bg-primary) !important;
    color: var(--bg-secondary) !important;
    border: var(--bg-primary) !important;
}

.bg-color-secondary {
    background: var(--bg-secondary) !important;
}

.bg-orange {
    background: var(--bg-orange) !important;
}

.btn-orange {
    background: var(--bg-orange) !important;
    color: var(--bg-dark-green) !important;
    border: var(--bg-dark-green) !important;
}

.bg-black-orange {
    background: var(--bg-dark-orange) !important;
}

.bg-dark-green {
    background: var(--bg-dark-green) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.btn-dark {
    background: var(--bg-dark-green) !important;
    color: var(--bg-dark-orange) !important;
    border: var(--bg-dark-green) !important;
}

.text-green {
    color: var(--bg-primary) !important;
}

.text-yellow {
    color: var(--bg-secondary) !important;
}

/* Size */

.vh-100 {
    height: 100vh !important;
}

.vh-75 {
    height: 75vh !important;
}

.vh-50 {
    height: 50vh !important;
}

.vh-25 {
    height: 25vh !important;
}

.vw-25 {
    width: 25vh !important;
}

/* Max height/ Max widht */
.max-height-250 {
    max-height: 250px !important;
}

/* Shadows */

.shadow-top {
    -webkit-box-shadow: 0px -4px 15px 5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px -4px 15px 5px rgba(0, 0, 0, 0.33);
}